@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  min-height: 100%;
}

body {
  height: 100%;
}

.custom-img {
  background-image: url('../../public/images/home/SDB_Gattaga_10.jpg');
}

.brokeborder {
  /* -webkit-clip-path: polygon(0% 0%, 0% 100%, 25% 100%, 0 26%, 100% 28%, 100% 72%, 0 72%, 12% 100%, 100% 100%, 100% 0%); */
  clip-path: polygon(evenodd, 0% 0%, 100% 0%, 100% 100%, 0% 100%, 0% 80%, 0% 27%, 100% 27%, 100% 79%, 0% 79%, 0% 100%);
}

.hamburger-line {
  display: block;
  width: 26px;
  height: 2px;
  background-color: #fff;
  border-radius: 2px;
  transform-origin: 50% 50%;
  transition: transform 0.5s ease-in-out;
}

.hamburger-line--scroll {
  display: block;
  width: 26px;
  height: 2px;
  background-color: #000;
  border-radius: 2px;
  transform-origin: 50% 50%;
  transition: transform 0.5s ease-in-out;

}

.hamburger-line--active:nth-child(1) {
  transform: translate3d(0, 9px, 0) rotate(45deg);
}

.hamburger-line--active:nth-child(2) {
  opacity: 0;
}

.hamburger-line--active:nth-child(3) {
  transform: translate3d(0, -9px, 0) rotate(-45deg);
}